body{background-color:white;font-family: 'Work Sans', sans-serif;;text-align: center;


}    
#main1{color:rgb(46, 15, 46);}
#five{color:rgb(46, 15, 46)}
#minimain{background-color:rgb(196, 91, 161);padding:20px;color:white;}
header{font-family: 'Meddon', cursive;color:rgb(255, 255, 255);}
.link{font-family: 'Nanum Pen Script', cursive;}
.photo img{width:300px}
.navigation{text-decoration:none;font-family: 'Nanum Pen Script', cursive;color: rgb(255, 255, 255);}
#mtext3{font-family: 'Nanum Pen Script', cursive;font-size: 24px;}